.container{
    background-color: white;
    margin-top: 30px;
    background-size: cover;
}
.head{
    color: black;
    padding: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family:"Roboto";
}
.p{
    color: grey;
    font-size: 20px;
    font-weight: normal;
    font-family:"Roboto";
}
.head1{
    color:black;
    font-size: 18px;
    font-weight:bold;
    font-family:"Roboto";
}
.input-text1{
    border-radius: 8px;
    height: 45px;
    width: 400px;
    border-color: grey;
    color: grey;
}
.p1{
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family:"Roboto";
}
.p2{
    font-size: 15px;
    font-weight: bold;
    font-family:"Roboto";
}
.button{
    border-radius: 15px;
    color: white;
    background-color: lightseagreen;
    font-size: 20px;
    height: 45px;
    width: 380px;
    border-width: 1px;
}
.button1{
    border-radius: 15px;
    color: black;
    background-color: white;
    font-size: 15px;
    height: 45px;
    width: 380px;
    border-width: 1px;
    border-color: black;
}
.p3{
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family:"Roboto";
}
.label{
    padding-right: 50px;
}
.signup{
    font-size: 15px;
    color: black;
    text-decoration: underline;
    padding-left: 5px;
}
.forgot{
    font-size: 18px;
}
.col-12{
    padding: 50px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 1rem;*/
    height: 50px;
    background-color:white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2)
}

.logo {
    max-width: 150px;
    height: auto;
    border-radius: 35px;

}

.navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

.navbar a:hover {
    color: #71c397;
}


.submit-button{
    color: white;
    background-color: lightblue;
    border-radius: 15px;
}

button a {
    text-decoration: none;    /* Remove underline */
    color: white !important;  /* Make the text white */
    font-size: 16px;
    font-weight: bold;
}

button {
    background-color: #3498db;  /* Blue button */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;  /* Darker blue on hover */
}
