body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.upload-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 800px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.upload-box {
    border: 2px dashed #ddd;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.upload-box.dragover {
    background-color: #e0e0e0;
}

#fileInput {
    display: none;
}

.upload-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.upload-button:hover {
    background-color: #2980b9;
}

.get-button {
    background-color: #008000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.get-button:hover {
    background-color: #006400;
}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-top: 20px;
}

.progress-bar-inner {
    height: 10px;
    width: 0%;
    background-color: #3498db;
    border-radius: 5px;
    transition: width 0.4s;
}

#uploaded-images img {
    max-width: 100%;
    margin-top: 10px;
}


.loading {
    --speed-of-animation: 0.9s;
    --gap: 6px;
    --first-color: #4c86f9;
    --second-color: #49a84c;
    --third-color: #f6bb02;
    --fourth-color: #f6bb02;
    --fifth-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 6px;
    height: 100px;
}

.loading span {
    width: 4px;
    height: 50px;
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
}

.loading span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
}

.loading span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
}

.loading span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
}

@keyframes scale {
    0%, 40%, 100% {
        transform: scaleY(0.05);
    }

    20% {
        transform: scaleY(1);
    }
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 1rem;*/
    height: 50px;
    background-color:white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2)
}


.logo {
    max-width: 150px;
    height: auto;
    border-radius: 35px;

}

.navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

.navbar a:hover {
    color: #71c397;
}
